brotlipy==0.7.0
cloudpickle==1.6.0
cookiecutter==1.7.2
cytoolz==0.11.0
dask==2.30.0
Keras==2.3.1
mkl-service==2.3.0
natsort==7.0.1
olefile==0.46
pathlib2==2.3.5
pydot==1.4.1
pyOpenSSL==19.1.0
PySocks==1.7.1
seaborn==0.10.0
simplejson==3.17.2
tensorflow==1.14.0
tqdm==4.43.0
typing-extensions==3.7.4.3
Unidecode==1.1.1
whichcraft==0.6.1
