get-variable-name==0.0.2
jupyter-contrib-nbextensions==0.5.1
kornia==0.5.0
albumentations==0.5.2
emoji==0.5.4
pydicom==2.0.0
pynrrd==0.4.2
torchsummary==1.5.1
pipdeptree==2.0.0
pipreqs==0.4.10
ipyfilechooser==0.3.4
pkbar==0.4
visdom==0.1.8.9
nonechucks==0.4.0
python-telegram-bot==12.5.1
barbar==0.2.1
imagecodecs-lite==2019.12.3
tensorboardx==2.1
